<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P2ǐ</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <div class="header-left">
            <h1 class="logo">
                <span class="logo-p2">P2</span><span class="logo-i">ǐ</span>
            </h1>

            <div class="divider"></div>
            <div class="tagline">Press To Identify</div>
        </div>

        <div class="header-right">
            <div class="status-badge">
                <div class="status-dot"></div>
                <span class="status-text" id="status-text">Scanner ready</span>
            </div>

            <button class="admin-btn" id="admin-button">
                <img class="admin-icon" src="../static/icons/account.svg">
                <span class="admin-btn-text">Admin</span>
            </button>
        </div>
    </header>

    <div class="main-canvas">
        <div class="scanner-unit">
            <div class="scanner-container">
                <div class="scanner-outer-ring"></div>
                <div class="scanner-inner-ring"></div>
                <div class="scanner-core">
                    <div class="scanner-line"></div>
                    <div class="glass-effect"></div>
                    <img class="fingerprint-icon" src="../static/icons/fingerprintsvg.svg">
                </div>
            </div>

            <div class="container-display">
                <h2 class="instruction-text">Place your finger on the scanner</h2>
                <p class="sub-text">Ensure your fingers are dry and clean to get the best results</p>

                <div class="scan-btn-area">
                    <button class="scan-btn">
                        <div class="btn-gradient"></div>
                        <span class="btn-content">Start Scanning</span>
                    </button>
                </div>

            </div>

        </div>

        <div class="meta-data">
            <span>Fingers Scanned : 24/100</span>
            <span id="clock">Time : </span>
            <span id="date">Date : </span>
            <span>@AM Technologies</span>
        </div>

        <div class="fingerprint-details">
            <div class="close-btn-div">
                <button class="close-btn"><img src="../static/icons/close.png" width="20" height="20" alt="close">
                </button>
            </div>
            <div class="fingerprint-box">
                <img class="fingerprint-img" src="../static/fingerprint_images/test_finger.png" />
            </div>

            <div class="user-details">
                <h2>Details</h2>
                <hr><br>
                <div class="details-info">
                    <span>Name : Aasif Mujawar</span>
                    <span>ID : 101010</span>
                    <span>Class : 3 Science 4</span>
                    <span>House : Engmann House</span>
                    <span>Time :
                        <script>document.write(new Date().toLocaleTimeString())</script>
                    </span>
                    <span>Date :
                        <script>document.write(new Date().toLocaleDateString())</script>
                    </span>
                </div>
            </div>
        </div>

    </div>

    <h1>THIS PROJECT IS CURRENTLY UNDER TEST.. DUE TO THE HARDWARE CONSTRAINTS, BACKEND IS BEING REVISED....<br>
        FULL UI WILL BE DISPLAYED IMMEDIATELY BACKEND TEST IS DONE.........</h1>

    <button onclick="get_backend()">test backend</button>
    <p id="response">Backend response : ...........</p>

</body>

<script src="../static/script.js"></script>

</html>