<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P2ǐ</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="top">
        <h1>P2<span>ǐ</span></h1>
    </div>

    <button onclick="get_backend()">test backend</button>
    <p id="response">Backend response : ...........</p>

</body>

<script src="../static/script.js"></script>

</html>